@model IEnumerable<AirBnbFakeDatabase.Models.Listing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Neighbourhood</th>
            <th>Bathrooms</th>
            <th>Bedrooms</th>
            <th>Beds</th>
            <th>BedType</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Neighbourhood</td>
                <td>@item.Bathrooms</td>
                <td>@item.Bedrooms</td>
                <td>@item.Beds</td>
                <td>@item.BedType</td>
                <td>$@item.Price</td>
            </tr>
        }
    </table>
</div>
